wifi_ssid: "DeinWLAN"
wifi_password: "wlan-passwort"
ap_password: "fallback-passwort"
ota_password: "ota-passwort"
api_encryption_key: "32-Byte-Base64-Schluessel"
mqtt_broker: "core-mosquitto"
mqtt_username: ""
mqtt_password: ""
